@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/EndGame.css">
    <title>Fin de partie</title>
</head>

<body>
    <header>
        <h1>PROJEKT</h1>
    </header>
    <main>
        <h2>THE HOSTAGE</h2>
        <img src="https://fakeimg.pl/300/" alt="The Hostage">
        <h3>Vous avez éliminé le preneur d'otage</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere, sint ratione iste ipsum eum provident
            voluptates magnam natus eveniet ea doloremque eos cumque. Rem aliquam doloribus sunt expedita similique.
        </p>

    </main>

    <footer>
        <nav class="bouton">
            <a href="@Url.Action("Parametres", "Index")"><i class="fas fa-cog"></i></a>
            <a href="@Url.Action("ConnecterHomePage", "Index")"><i class="fas fa-home"></i></a>
            <a href="@Url.Action("Index", "Users")"><i class="fas fa-user-shield"></i></a>
            @{
                if (Session["username"] == null)
                {
                    <a href="@Url.Action("Login", "Connexion")"><i class="fas fa-power-off"></i></a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "Connexion")"><i class="fas fa-power-off"></i></a>
                }
            }
        </nav>
    </footer>
</body>

</html>
