@model Projet_Jdr.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="~/Content/LoginFront.css" rel="stylesheet" />
    <title></title>
</head>

<body>
    <header>
        <h1>PROJEKT</h1>
    </header>

    @using (Html.BeginForm("CheckLogin", "Connexion", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="mainDiv">
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="inputLogin">
                    @Html.LabelFor(model => model.Email)
                    <br />
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="inputLogin">
                    @Html.LabelFor(model => model.Password)
                    <br />
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="foot">
                    <input type="submit" value="Se Connecter" class="button" />
                    <br />
                    @Html.ActionLink("Vous n'êtes pas inscrit.e ? -> S'inscrire", "Inscription", "Connexion", new { @class = "mouseHover" })
                </div>
            </div>
        </div>
    }
    <!--<div class="image"></div>-->
</body>
</html>