@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/ConnecterHomePage.css">
    <title>HomePage</title>
</head>

<body>
    <header>
        <h1>PROJEKT</h1>
    </header>
    <main>
        <h2>Bienvenue ,</h2>
        <p>Vos parties sont listées ci-dessous. Continuez une partie ou commencez-en une nouvelle :</p>
        <div class="newgame">
            <a href="@Url.Action("Synopsis", "Jdr")"><i class="fas fa-plus-square"> Ajouter une partie</i></a>
        </div>
        <!-- <div class="savegame">
        <a href="@Url.Action("", "")"><i class="fas fa-save"> Partie 01</i></a>
        <a href="@Url.Action("", "")"><i class="fas fa-save"> Partie 02</i></a>
    </div> -->
    </main>

    <footer>
        <nav class="bouton">
            <a href="@Url.Action("Parametres", "Index")"><i class="fas fa-cog"></i></a>
            <a href="@Url.Action("ConnecterHomePage", "Index")"><i class="fas fa-home"></i></a>
            <a href="@Url.Action("Login", "Connexion")"><i class="fas fa-power-off"></i></a>
        </nav>
    </footer>
</body>

</html>
